facenet-pytorch==2.5.3
numpy==2.2.3
opencv-python==4.11.0.86
Pillow==10.4.0
paddle2onnx==1.3.1
paddleocr-convert==0.0.19
paddlepaddle==2.6.2
rapidocr-onnxruntime==1.4.4
setuptools==75.8.2
six==1.17.0
torch==2.6.0
torchvision==0.21.0
transformers==4.49.0
urllib3==2.3.0
