facenet-pytorch==2.5.3
opencv-python==4.9.0.80
Pillow==10.3.0
paddle2onnx==1.2.1
paddleocr-convert==0.0.11
paddlepaddle==2.6.1
rapidocr-onnxruntime==1.2.3
setuptools==69.5.1
six==1.16.0
torch==2.3.0
torchvision==0.18.0
transformers==4.40.1
urllib3==2.2.1
