@import "tailwindcss";

html,
body {
  font-family: "DM Sans", sans-serif;
}

.smriti-bg-color {
  background-color: #0b81e0;
}

.smriti-bg-color:hover {
  background-color: #288ce5;
}

a {
  color: #0b81e0;
}

a:hover {
  color: #288ce5;
}

.smriti-dark-color {
  color: #465070;
}
