@import "tailwindcss";

html,
body {
  font-family: "DM Sans", sans-serif;
}

.smriti {
  background-color: #0B81E0;
}

.smriti:hover {
  background-color: #288CE5;
}

a {
  color: #0B81E0;
}

a:hover {
  color: #288CE5;
}

.smriti-dark, h1, h2, h3, h4, h5, h6 {
  color: #3d464d;
}

.smriti-error-bg {
  background-color: #FEF2F2;
}

.smriti-error {
  color: #D26060
}

.smriti-error-border {
  border-color: #E2A0A0
}

.smriti-warn-bg {
  background-color: #FFFAE4;
}

.smriti-warn {
  color: #C39D02
}

.smriti-warn-border {
  border-color: #F4CD33
}

.smriti-success-bg {
  background-color: #E8F7ED;
}

.smriti-success {
  color: #1BA84E
}

.smriti-success-border {
  border-color: #30B661
}