[MASTER]
ignore=tests
ignore-patterns=.*_pb2.py,.*_grpc.py,.*.txt,.*file,.*.toml,.*.xml,.*.md
disable=too-few-public-methods,logging-fstring-interpolation,broad-except,import-outside-toplevel
extension-pkg-allow-list=ngtpy
[FORMAT]
max-line-length=120