annoy==1.17.3
asyncio==3.4.3
facenet-pytorch==2.5.3
fastdeploy-python==1.0.7
grpcio==1.60.1
grpcio-tools==1.60.1
minio==7.2.3
moviepy==1.0.3
opencv-python==4.9.0.80
prometheus-client==0.19.0
Pillow==10.2.0
PyExifTool==0.5.6
rawpy==0.19.0
requests==2.31.0
schedule==1.2.1
torch==2.2.0
torchvision==0.17.0
transformers==4.37.2
Wand==0.6.13