annoy==1.17.3
asyncio==3.4.3
facenet-pytorch==2.5.3
grpcio==1.63.0
grpcio-tools==1.63.0
minio==7.2.7
moviepy==1.0.3
opencv-python==4.9.0.80
prometheus-client==0.20.0
Pillow==10.3.0
PyExifTool==0.5.6
rapidocr-onnxruntime==1.2.3
rawpy==0.21.0
requests==2.31.0
schedule==1.2.1
torch==2.3.0
torchvision==0.18.0
transformers==4.40.1
Wand==0.6.13
